/* 
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
 */


/* RESET */

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	/* to make it easier to calculate rems, etc */
	/* font size should not be in pixel because users may need to increase it in the browsear(i.e. becaouse of disability).
	/* font-size: 10px; */
	/* default font is 16px, we want 10px so 62.5% */
	font-size: 62.5%;
}

body {
	font-family: 'Lato', sans-serif; 
	/* font-size: 16px; */
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	padding: 3rem;
}

header {
	background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
	height: 95vh;
	background-size: cover;
	background-position: top;
	/* clip-path: circle(50%) */
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	position: relative;
}

.header__logo-box {
	position: absolute;
	top: 4rem;
	left: 4rem;
}

.header__logo {
	height: 3.5rem;
}

.header__text-box {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* wysrodkowanie buttona ktory jest linkiem */
	text-align: center;
	/* position: relative; */
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	/* fix do zniwelowania skakania animacji */
	backface-visibility: hidden;	
	margin: 6rem;
}

.heading-primary--main {
	letter-spacing: 3.5rem;
	font-size: 6rem;
	font-weight: 400;
	display: block;
	animation-name: moveInLeft;
	animation-duration: 1s;

}

.heading-primary--sub {
	display: block;
	letter-spacing: 1.74rem;
	text-transform: uppercase;
	font-size: 2rem;	
	font-weight: 700;
	animation-name: moveInRight;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}


@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
	}
	100% {	
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(1rem);
	}
	80%{
		transform: translateX(-2rem);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInUp {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		opacity:1;
		transform: translateY(0);		
	}
}

.btn--white{
	background-color:#fff;
	color: #777;

}

.btn:link,
.btn:visited{
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 50rem;
	padding: 1.5rem 4rem;
	display: inline-block;
	margin-top: 7rem;
	font-size: 1.6rem;
	transition: all .2s;
	position: relative;
	font-size: 1.6rem;
}

.btn:hover{
	transform: translateY(-.3rem);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.201);	
}

.btn:active{
	transform: translateY(-.1rem);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.201);	
}

.btn::after{
	content: '';
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 50rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;	
	
}

.btn--white:after{
	background-color: #fff;
}

.btn:hover::after{
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;
}

.btn--animated{
	animation: moveInUp .5s ease-out  .75s;
	/* sprawia ze button jest niewidoczny przez 0.75s (delay)
	/* Niewidoczny bo w @keyframe ustawilem opacity 0 przy 0% animacji.
	backwards stosuje stylowanie z poczatku animacji na czas przed jej uruchomieniem */
	animation-fill-mode: backwards;
}